body {
	background-image: url("img/yoshisisland.gif");
	background-repeat: no-repeat;
	background-size: 1500px 800px;
	

}


.cells {
	width: 150px;
	height: 150px;
	background-color: white;
	border: 2px solid red;
	float: left;
	color: white;
	background-image: url("img/flower.gif");
	background-repeat: no-repeat;
	background-size: 140px;

}

.container {
	width: 462;
	margin: 0 auto;
	
}

.bgblue {
	background-color: pink;
}

.xBackground {
	background-color: green;
}

.yBackground {
	background-color: yellow;

}

.cellx {
	background-image: url("img/X.jpeg");
}

.cello {
	background-image: url("img/O.png");
}






